{{ if .Site.Data.blog.enable}}
{{"<!-- Start Blog Section -->" | safeHTML}}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section id="events" class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeInDown">                    
                    <h2>Upcoming <span class="color">Events</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{ range where (where site.RegularPages "Section" "events") ".Params.featured" "=" "true" }}
            {{"<!-- single blog post -->" | safeHTML}}
            <article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp" data-wow-duration="500ms">
                <div class="post-block">
                    <div class="media-wrapper">
                        {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-fluid">{{ end }}
                    </div>

                    <div class="content event">
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <p class="time">{{ dateFormat "Monday, Jan 2" .Params.eventdate }} 
                            {{ if (isset .Params "eventtime") }} {{.Params.eventtime }} {{end}}</p>
                        <p>{{ if (isset .Params "tease") }} {{ .Params.tease }} {{ else }} {{ .Summary }} {{end}}</p>
                        <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
                    </div>
                </div>
            </article>
            {{"<!-- /single blog post -->" | safeHTML}}
            {{ end }}

            <div class="all-post text-center col-lg-12">
                <a class="btn btn-main" href="/events">View All Events</a>
            </div>
        </div>
    </div>
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}
