{{ if .Site.Data.fundraising.enable }}
{{"<!-- Fundraising -->" | safeHTML }}
<section id="team-skills" class="parallax-section section section-bg overly">
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML }}
            <div class="col-lg-12">
                <div class="title text-center">
                    <h2>{{ with .Site.Data.fundraising.heading}} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.fundraising.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ with .Site.Data.fundraising.title }} <h2> {{ . }} </h2> {{ end }}
                {{ with .Site.Data.fundraising.content }} <p> {{ . }} </p> {{ end }}
                <img class="img-fluid" src="{{ .Site.Data.fundraising.image | absURL }}" alt="image">
            </div>
            <div class="col-lg-6">
                <ul class="skill-bar">
                    {{ range .Site.Data.fundraising.yearSummary }}
                    <li>
                        <p><span>{{ .year }} </span> ~ {{ .amountRaised }} (Goal {{ .goal }})</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width: {{ .itemPercent }}">
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{"<!-- /fundraising -->" | safeHTML }}
{{ end }}