{{ if .Site.Data.pricing.enable}}
{{"<!-- Start Pricing section -->" | safeHTML}}
<section id="pricing" class="pricing section">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="col-lg-12">
                <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.pricing.heading }} {{ . }} {{ end }}<span class="color"> {{ with .Site.Data.pricing.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
            
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">What if ALL Connecticut Breweries Joined The Cause?</h2>                
                <p>As Team Craft Beer, we are made up of beer lovers from all over our great State. We are working to send team members to each brewery in Connecticut to recruit new members and talk sponsorship. We know everyone is still in recovery mode so we have sponsorship opportunities starting at $250. <a href="#sponsor">Fill out the form below</a> if you are interested in learning more and we will reach out to discuss the options.</p>
            </div>
        </div>
       
    </div>
</section>
{{"<!-- /pricing -->" | safeHTML}}
{{ end }}