.hero-area .block h1 {
    color: gold;
}

.hero-area .block p {
    color:#fff;
}


body { 
    background-color: lightgrey;
}

.bg-one {
    background-color: black;
}
h2 span.color { color:gold;}

.border-meghna:before { background-color: gold;}
.price-item {
    border:1px solid #fff;
}

.navbar-brand img { 
    max-height:60px;    
}
.navbar-brand span { display: none;}

.service-block a:hover { 
    color:gold;
}
.hero-area .logo { 
    max-height: 400px;    
}

.jersey-mockup { 
    margin-bottom: 25px;    
}

.copyright p {
    font-size:10px;
    color: silver;
}

@media screen and (max-width: 600px)
{
    .hero-area .logo { 
        max-height: 175px;        
    }
    .hero-area .block h1 { 
        font-size: 40px;        
    }
}