{{ define "main" }}

    {{ partial "preloader.html" . }}

    {{ partial "hero-area.html" . }}

    {{ partial "navigation.html" . }}

    {{ partial "about.html" . }}

    {{ partial "cta.html" . }} 

    {{ partial "actions.html" . }}

    {{ partial "skill.html" . }}

    {{ partial "shop.html" . }}

    {{ partial "counter.html" . }}

    {{ partial "team.html" . }}

    {{ partial "pricing.html" . }}

    {{ partial "testimonial.html" . }}

    {{ partial "blog.html" . }} 

    {{ partial "contact.html" . }}

{{ end }}