{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Ride Section -->" | safeHTML}}
<section id="blog" class="section">
    <div class="container">
        <div class="row">
            <h1>Training Rides</h1>
        </div>        
        <div class="row">
            <h2>Upcoming</h2>
        </div>
        <div class="row">            
            {{ range .Data.Pages }}   
                {{ if(isset .Params "eventdate") }}            
                    {{ if (time .Params.eventdate).After now}}
                        {{ .Render "ride" }}                 
                    {{ end }}
                {{ else }}                    
                    {{ .Render "pinned" }}                    
                {{ end }}                     
            {{ end }}
        </div>
        <div class="row mt-5">
            <h2>Past</h2>
        </div>
        <div class="row">            
            {{ range .Data.Pages }}
                {{ if(isset .Params "eventdate") }}            
                    {{ if (time .Params.eventdate).Before now}}
                        {{ .Render "ride" }}                 
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>                
    </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
