{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h1>{{ .Title }}</h1>
                <ul class="list-inline mb-50">                    
                    <li class="list-inline-item">Posted {{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
                    <!-- <li class="list-inline-item">by <a href="/author/{{ urlize .Params.author}}">{{ .Params.author }}</a></li> -->
                </ul>
                {{ with .Params.image }}<img class="img-fluid mb-50" src="{{ . | absURL }}" alt="blog-image">{{ end }}
            </div>
            
            <div class="col-lg-8 offset-lg-2">
                <div class="post-single-content">
                    {{ if isset .Params "eventtime" }}
                    <h2 class="text-center">{{ dateFormat "Monday, Jan 2, 2006" .Params.eventdate }} at {{ .Params.eventtime }}</h2>
                    {{ end }}

                    {{ .Content }}
                   
                  
                </div>
                {{ if isset .Params "strava" }}
                        
                    <a class="btn btn-transparent" href="{{ .Params.strava }}" target="_blank">STRAVA Route</a>

                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}
